<div class="container">
    <nav class="nav">
        <div class="social-media-cta">
            <h1>Follow us</h1>
        </div>
        <div class="separator-line"></div>
        <div class="nav-list">
            <li class="nav-item">
                <a href="#" class="nav-link"><i class="fab fa-facebook-f"></i></a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link"><i class="fab fa-twitter"></i></a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link"><i class="fab fa-google-plus-g"></i></a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link"><i class="fab fa-dribbble"></i></a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link"><i class="fab fa-linkedin-in"></i></a>
            </li>
        </div>
    </nav>
</div>
